body{
	background-image: linear-gradient(to top, #a8edea 0%, #a1e05d5e 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#top_div{
	height: 100px;
	padding-top: 3%;
}
#todo_input{
	width: 75%;
	height: 42px;
	margin-left: 5%;
	padding-left: 69px;
	border: none;
	font-size: larger;
}
#todo_save{
	width: 8%;
	margin-left: 26px;
	height: 42px;
	border: none;
	cursor: pointer;
	background-color: #988b7b;
	font-size: large;
}
#bottom_div{
	margin-left: 8%;
	margin-right: 12%;
	font-size: larger;
}